@inject NavigationManager Nav

@page "/"

<h1>Welcome to your Widget Hub</h1>

<p>Select an app to use</p>

<div class="home-container">
    <button class="grocery-app-link" @onclick="GroceryLink">Grocery App</button>
    <button class="health-app-link" @onclick="HealthLink">Health App</button>
    <button class="todo-app-link" @onclick="TodoLink">Todo App</button>

</div>

@code 
{
    private void GroceryLink() => Nav.NavigateTo("/grocery/home");
    private void HealthLink() => Nav.NavigateTo("/health/login");
    private void TodoLink() => Nav.NavigateTo("/todo/home");
}