@page "/health/login"
@inject NavigationManager Nav



<h3>Who's health are we checking today?</h3>

<div class="user-list">
    @foreach (var user in users)
    {
        <div class="user-row">
            <span>@user.Name</span>
            <button @onclick="() => SelectUser(user.Id)">Select</button>
            <button @onclick="() => RemoveUser(user.Id)">Remove</button>
        </div>
    }
</div>

<div class="add-user">
    <input @bind="newUserName" placeholder="Enter a new user name"/>
    <button @onclick="AddUser">Add User</button>
</div>




@code {

    private List<HealthUser> users = new();
    private string newUserName = string.Empty;


    private void SelectUser(int id)
    {
        Nav.NavigateTo($"/health/dashboard/{id}");
    }

    private void AddUser()
    {
        if (string.IsNullOrWhiteSpace(newUserName)) return;

        // Adds a new user to the list and increments the database id# by 1
        users.Add(new HealthUser { Id = users.Count + 1, Name = newUserName });
        FakeHealthUserStore.Users = users;
        newUserName = string.Empty; // Clears name after assigning to list
    }

    private void RemoveUser(int id)
    {
        users.RemoveAll(user => user.Id == id);
    }

}
