@page "/healthHome"

<h3>HealthHome</h3>
<form class="Health-readings" >
    <label for="systolic">Systolic</label>
    <input type="number" max="250" style="width: 50px" />
    <label for="Diastolic">diastolic Pressure</label>
    <input type="number" max="200" style="width: 50px" />
    <button type="submit" @onsubmit="Submit">submit</button>
    
</form>

@code {
    public void Submit()
    {
        //TODO: Send this somewhere
    }
}
